.heading {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  width: 100%;
  gap: 20px;
  margin: 10px 0px 40px;
  &::after {
    content: '';
    background-color: var(--slate);
    height: 0.5px;
    flex-grow: 1;
    max-width: 300px;
    margin-bottom: 10px;
  }
}
