.bio_greet {
  margin: 0px 0px 30px 0px;
}

.name {
  font-size: clamp(40px, 8vw, 80px);
  line-height: 1;
}

.desc {
  max-width: 520px;
}

.company_link {
  margin-left: 5px;
  color: var(--yellow);
  text-decoration: none;
}
