.drawer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(70vw, 400px);
  height: 100vh;
  background: #333;
  z-index: 9;
  transition: var(--transition);

  &_visible {
    transform: translateX(0vw);
    visibility: visible;
  }

  &_hidden {
    transform: translateX(100vw);
    visibility: hidden;
  }
}
