@use 'reset';
@use 'variables';
@use 'fonts';
@use 'classes';
@import 'responsive';

body {
  background: var(--bg);
  color: var(--slate);
  font-family: var(--ff-body);
  font-size: var(--fs-xl);
}

.primary_btn {
  font-family: var(--ff-mono);
  font-size: var(--fs-xs);
  color: var(--yellow);
  background-color: transparent;
  border: 1px solid var(--yellow);
  border-radius: var(--border-radius-btn);
  padding: 0.75rem 1rem;
  transition: var(--transition);
  line-height: 1;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0 0 var(--yellow);
    transform: translate(-4px, -4px);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  padding: 0px 250px;
  margin-top: 200px;
  width: 100%;
  @include till-small-dev {
    padding: 0px 25px;
    margin-top: 130px;
  }
  @include for-med-dev {
    padding: 0px 100px;
    margin-top: 150px;
  }
  @include for-large-dev {
    padding: 0px 150px;
    margin-top: 150px;
  }
}

@each $name, $value in variables.$theme-colors {
  .text-#{$name} {
    color: $value;
  }
  .text-hover-#{$name} {
    &:hover {
      color: $value;
    }
  }
}

@each $name, $value in variables.$font-family {
  .ff-#{$name} {
    font-family: $value;
  }
}

@each $name, $value in variables.$font-weights {
  .fw-#{$name} {
    font-weight: $value;
  }
}

@each $name, $value in variables.$font-sizes {
  .fs-#{$name} {
    font-size: $value;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--lightest-slate);
}

.appear_from_bottom {
  animation: afb 1s;
}

@keyframes afb {
  0% {
    visibility: hidden;
    transform: translateY(10px);
  }

  25% {
    visibility: visible;
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
