@import '../../../styles/responsive';

.nav {
  display: flex;
  align-items: center;
  @include till-med-dev {
    display: none;
  }
  gap: 15px;
}

.ordered_list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav_link {
  padding: 10px;
  text-decoration: none;
}
