@import '../../../styles/responsive';

.nav {
  display: flex;
  align-items: center;
  @include till-med-dev {
    display: none;
  }
  gap: 15px;
}

.ordered_list {
  display: flex;
  gap: 20px;
}

.nav_link {
  font-family: var(--ff-mono);
  font-size: var(--fs-xs);
  color: var(--slate);
  padding: 10px;
  text-decoration: none;

  &:hover {
    color: var(--yellow);
  }

  &_count {
    font-family: var(--ff-mono);
    color: var(--yellow);
    font-size: var(--fs-xxs);
  }
}
